
<admin-navbar></admin-navbar>

<div class="container">
  <h2 class="mt-5 mb-5">Administrator Panel: <i>feel free to create, edit, or delete our Programs!</i></h2>


  <div class="list-group">
    <a *ngFor="let program of createdPrograms" [routerLink]="['/program_update', program.id]" class="list-group-item list-group-item-action flex-column align-items-start mb-3">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{program.name}}</h5>
      </div>
      <p class="mb-1">{{program.description}}</p>
    </a>
  </div>

</div>

<endbar></endbar>
