<div [formGroup]="reviewForm">
  <div class="form-group">
    <label class="center-block">Rating:</label>
    <input class="form-control" formControlName="rating" [(ngModel)]="review.rating">
    <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
    </span>
    </ng-template>
    <ngb-rating [(rate)]="review.rating" (leave)="hovered=0"></ngb-rating>
  </div>
  <div class="form-group">
    <label class="center-block">Comment:</label>
    <textarea class="form-control" formControlName="textContent" rows="2" [(ngModel)]="review.textContent"></textarea>
  </div>
  <div class="text-center">
    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="reviewForm.pristine" (click)="postReview();" class="btn btn-primary">Create</button>
    </div>
  </div>
</div>
