
<nav class="navbar sticky-top navbar-dark bg-primary d-flex justify-content-between">
  <a class="navbar-brand" [routerLink]="['home']">Cursago</a>
  <form class="form-inline">
    <input #token class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button type="button" (click)="search(token.value);" class="btn btn-outline-light my-2 my-sm-0">Search</button>
  </form>
  <a class="nav-item nav-link" (click)="logout();">Logout</a>
</nav>


<div class="container">
  <h2 class="mt-5 mb-5">Administrator Panel: <i>feel free to create, edit, or delete our Programs!</i></h2>
</div>
