<nav class="navbar sticky-top navbar-light bg-light d-flex justify-content-between">
  <div [routerLink]="['/dashboard']" style="cursor: pointer" class="form-inline">
    <div style="font-size:2em; color:blue" class="mr-3">
      <i class="fas fa-graduation-cap"></i>
    </div>
    <a class="navbar-brand">Cursago</a>
  </div>

  <form class="form-inline">
    <input #token style="width: 300px" class="form-control mr-sm-2" type="search" placeholder="Look up our courses!" aria-label="Search">
    <button type="button" (click)="search(token.value);" class="btn btn-outline-secondary my-2 my-sm-0">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <div style="cursor:pointer;" class="d-inline-flex">
    <a class="nav-item nav-link" (click)="createCourse();">Contribute</a>
    <div  *ngIf="loggedIn">
      <a class="nav-item nav-link" (click)="logout();">Logout</a>
    </div>
    <div  *ngIf="!loggedIn">
      <a class="nav-item nav-link" (click)="access();">Login/Signup</a>
    </div>
  </div>
</nav>

