<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/dashboard']">Cursago</a>
  <form class="form-inline">
    <input #token class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button type="button" (click)="search(token.value);" class="btn btn-outline-success my-2 my-sm-0">Search</button>
  </form>
  <div  *ngIf="loggedIn">
    <a class="nav-item nav-link" (click)="logout();">Logout</a>
  </div>
  <div  *ngIf="!loggedIn">
    <a class="nav-item nav-link" (click)="access();">Login/Signup</a>
  </div>
</nav>

