<navbar *ngIf="!isAdmin"></navbar>
<admin-navbar *ngIf="isAdmin"></admin-navbar>
<div *ngIf="loadedStatus && loadedCourse">

  <!--[ngStyle]="{ 'background-image': 'url(' + image + ')'}"-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{course.name}}</h1>
    <div class="mt-3" style="height:auto; overflow:auto;">
      <img [src]="image" onerror="this.style.display='none'" class="shadow-lg p-3 mb-5 bg-white rounded mr-4" style="width: 270px; float: left">
      <p class="lead">{{course.description}}</p>
    </div>
    <div class="d-flex justify-content-end">
        <share-button button="facebook" text="Share" [showText]="true" [size]="-1"></share-button>
        <share-button button="twitter" text="Tweet" [showText]="true" [size]="-1"></share-button>
        <share-button button="whatsapp" text="Message" [showText]="true" [size]="-1"></share-button>
        <share-button button="reddit" text="Post" [showText]="true" [size]="-1"></share-button>
    </div>

    <hr class="my-4">

    <div style="display: flex; justify-content: space-between">
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
        </span>
      </ng-template>
      <ngb-rating [(rate)]="course.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
      <div>
        <p style="font-size: 1.2em" class="card-text">Publisher: <b>{{course.publisher.surname}}, {{course.publisher.name}}</b></p>
      </div>
    </div>

    <p style="font-size: 1.5em;" *ngIf="course.price > 0" class="card-text">Price: $ {{course.price}}</p>
    <p style="font-size: 1.5em;" *ngIf="course.price == 0" class="card-text">Free!</p>

    <div *ngIf="!isAdmin">

      <!--INSCRIBIRSE A CURSO LOCAL-->
      <div *ngIf="isLocal">
        <div *ngIf="isEnrolled">
          <div *ngIf="status == -2">
            <p style="font-weight: 800">You have finished this course, make sure to leave a comment to help the publisher and community!</p>
            <button type="button" (click)="reset();" class="btn mt-2 btn-success">Reset progress</button>
            <button type="button" (click)="unenroll();" class="btn mt-2 btn-danger">Unenroll</button>
          </div>
          <div *ngIf="status != -2">
          <div class="row d-flex align-items-center">
            <div class="col-md-8">
              <div class="progress">
                <div class="progress-bar progress-bar-striped" [style.width]="status/course.units.length*100 + '%'">

                  <small class="justify-content-center d-flex position-absolute w-100">
                    completed {{status}} out of {{course.units.length}} units
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <button type="button" (click)="doCourse();" class="btn mt-2 btn-primary">Continue Course</button>
            </div>

          </div>
          </div>

        </div>

        <div *ngIf="!isEnrolled">
          <div *ngIf=" isRegistered && course.price > 0 && !isPublisher">
            <button type="button" title="Start Payment" style="font-size: 1.5em" (click)="buyCourse();" class="btn mt-2 btn-success">
              <div class="d-flex align-items-center">
                Purchase
                <i *ngIf="!startsPayment" style="margin-left:10px; font-size: 1.5em" class="far fa-credit-card"></i>
                <i *ngIf="startsPayment" style="margin-left:10px; font-size: 1.5em" class="fa fa-spinner fa-spin"></i>
              </div>
            </button>
            <p style="font-size: 0.9em; margin-top: 10px"><em>Powered by TodoPago</em></p>


          </div>
          <div *ngIf=" isRegistered && course.price == 0">
            <button type="button" (click)="enroll();" class="btn mt-2 btn-success">Enroll</button>
          </div>
        </div>

        <div *ngIf="course.price > 0 && isPublisher && isLocal">

          <p>Total Revenue from course: $ {{totalRevenue}}</p>
          <a *ngIf="!showPayment" (click)="showPayment = true" style="cursor:pointer;"><b>Show details of Payments</b></a>

          <div *ngIf="showPayment">
            <a (click)="showPayment = false" style="cursor:pointer;"><b>Hide</b></a>
            <div class="mat-elevation-z8">
              <mat-table #table  [dataSource]="dataSource">

                <ng-container matColumnDef="user">
                  <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.consumer.surname}}, {{element.consumer.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                  <mat-header-cell *matHeaderCellDef> Price Paid </mat-header-cell>
                  <mat-cell *matCellDef="let element">$ {{element.amount}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginator
                             [pageSize]="5"
                             [pageSizeOptions]="[5, 10, 20]"
                             [showFirstLastButtons]="true">
              </mat-paginator>
            </div>

          </div>
        </div>

        <div *ngIf="isPublisher && isLocal">
          <button type="button" (click)="doCourse();" class="btn mt-2 btn-primary">View Course</button>
        </div>

      </div>

      <!-- HACER FAVORITE UN CURSO EXTERNO-->
      <div *ngIf=" isRegistered && !isLocal">
        <div *ngIf="isEnrolled">
          <div style="font-size:3em; color:gold">
            <i style="cursor:pointer;" title="Unfavorite Course" (click)="unenroll()" class="fas fa-star"></i>
          </div>
        </div>

        <div *ngIf="!isEnrolled">
          <div style="font-size:3em; color:gold">
            <i style="cursor:pointer;" title="Mark as favorite" (click)="enroll()" class="far fa-star"></i>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isAdmin">
      <h3 class="mb-4">Select the program in which you wish to include this course</h3>

      <div class="row d-flex align-items-center">
        <div class="col-md-8">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input #programName type="text" placeholder="Select the program" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <div class="col-md-4">
          <button type="button" (click)="addToProgram(programName.value);" class="btn mt-2 btn-primary">Add course to program</button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <!--Info adiccional de curso-->
    <div class="col-md-6" style="padding-right:20px; border-right: 2px solid #ccc;">

      <div *ngIf="!isLocal; then externalCourse else localCourse"></div>
      <!-- if CURSO LOCAL-->
      <ng-template #localCourse>
        <h3 class="display-5">List of Units:</h3>
        <ul *ngIf="!isPublisher">
          <li *ngFor="let unit of course.units">
            <p>{{unit.name}}</p>
          </li>
        </ul>

        <div *ngIf="isPublisher" class="card">
          <ul [dndList]
              [dndModel]="course.units" class="list-group list-group-flush">
            <li *ngFor="let unit of course.units;let i = index"
                [dndDraggable]="{draggable:true, effectAllowed:'move'}"
                [dndObject]="unit"
                (dndMoved)="removeItem(unit, course.units)"
                class="list-group-item d-flex justify-content-between" style="cursor: pointer">
              <div >
                {{unit.name}}
              </div>
              <i (click)="removeUnit(unit)" class="far fa-trash-alt"></i>
            </li>
          </ul>
        </div>
        <div *ngIf="alteredOrder">
          <button type="button" (click)="persistOrder();" class="btn mt-3 btn-outline-warning">Save order</button>
        </div>
      </ng-template>

      <!-- if CURSO EXTERNO-->
      <ng-template #externalCourse>
        <p class="card-text">Source of course: {{course.source}}</p>
        <p class="card-text">Link: <a href="{{course.link}}">{{course.link | maxLength: 40}}</a></p>
      </ng-template>
    </div>

  <!--seccion de commentarios-->
    <div class="col-md-6">
      <h3>Reviews section</h3>
      <review [courseId]="course.id"></review>
    </div>

  </div>


  <!--ES EL PUBLISHER-->
  <div class="mt-5" *ngIf="isPublisher">
    <button *ngIf="isLocal" [routerLink]="['/create_unit', course.id]"type="button" class="btn btn-outline-primary">Add unit</button>
    <button type="button" (click)="editCourse();" class="btn btn-outline-warning">Edit course</button>
    <button type="button" (click)="deleteCourse();" class="btn btn-outline-danger">Delete course</button>

    <br>
    <div class="mt-3 custom-file" style="width: 400px;">
      <input type="file" (change)="onFileChanged($event)" class="custom-file-input" id="customFile">

      <label *ngIf="selectedFile == null" class="custom-file-label" for="customFile">Select image for the course</label>
      <label *ngIf="selectedFile" class="custom-file-label" for="customFile">{{selectedFile.name}}</label>
      <button *ngIf="selectedFile != null" class="btn mt-2 btn-secondary" (click)="onUpload()">Upload!</button>
    </div>
  </div>

</div>

<endbar></endbar>
</div>




