<navbar></navbar>
<div *ngIf="loadedStatus && loadedCourse">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{course.name}}</h1>
    <p class="lead">{{course.description}}</p>
    <hr class="my-4">

    <ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
  </span>
    </ng-template>
    <ngb-rating [(rate)]="course.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

    <p class="card-text">Price: {{course.price}}</p>
    <p class="card-text">Publisher: {{course.publisher.surname}}, {{course.publisher.name}}</p>

    <!--INSCRIBIRSE A CURSO LOCAL-->
    <div *ngIf="isLocal">
      <div *ngIf="isEnrolled">
        <div *ngIf="status == -2">
          <p style="font-weight: 800">You have finished this course, make sure to leave a comment to help the publisher and community!
          </p>
        </div>
        <div *ngIf="status != -2">
        <div class="row">
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar progress-bar-striped" [style.width]="status/course.units.length*100 + '%'">

                <small class="justify-content-center d-flex position-absolute w-100">
                  completed {{status}} out of {{course.units.length}}
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" (click)="doCourse();" class="btn mt-2 btn-primary">Continue Course</button>
          </div>

        </div>
        </div>
        <button type="button" (click)="unenroll();" class="btn mt-2 btn-danger">Unenroll</button>

      </div>

      <div *ngIf="!isEnrolled">
        <button type="button" (click)="enroll();" class="btn mt-2 btn-success">Enroll</button>
      </div>
    </div>

    <!-- HACER FAVORITE UN CURSO EXTERNO-->
    <div *ngIf="!isLocal">
      <div *ngIf="isEnrolled">
        <button type="button" (click)="unenroll();" class="btn mt-2 btn-danger">Unfavorite</button>
      </div>

      <div *ngIf="!isEnrolled">
        <button type="button" (click)="enroll();" class="btn mt-2 btn-success">Tag course</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <!--Info adiccional de curso-->
    <div class="col-md-6" style="padding-right:20px; border-right: 2px solid #ccc;">

      <div *ngIf="!isLocal; then externalCourse else localCourse"></div>
      <!-- if CURSO LOCAL-->
      <ng-template #localCourse>
        <h3 class="display-5">List of Units:</h3>
        <ul>
          <li *ngFor="let unit of course.units">
            <p>Unit {{unit.number}}: {{unit.name}}</p>
          </li>
        </ul>
      </ng-template>

      <!-- if CURSO EXTERNO-->
      <ng-template #externalCourse>
        <p class="card-text">Source of course: {{course.source}}</p>
        <p class="card-text">Link: <a href="{{course.link}}">{{course.link}}</a></p>
      </ng-template>
    </div>

  <!--seccion de commentarios-->
    <div class="col-md-6">
      <h3>Reviews section</h3>
      <review [courseId]="course.id"></review>
    </div>

  </div>



  <!--ES EL PUBLISHER-->
  <div *ngIf="isPublisher">
    <div *ngIf="isLocal">
      <button [routerLink]="['/create_unit', course.id]"type="button" class="btn btn-outline-primary">Add unit</button>
    </div>
    <button type="button" (click)="editCourse();" class="btn mt-2 btn-outline-warning">Edit course</button>
    <button type="button" (click)="deleteCourse();" class="btn mt-2 btn-outline-danger">Delete course</button>
  </div>

</div>

<endbar></endbar>
</div>




