<navbar></navbar>

<!--<ngb-carousel>-->
  <!--<ng-template ngbSlide>-->
    <!--<img class="d-block w-100" src="assets/slider-1.jpg" style="height: 500px" alt="First slide">-->
    <!--<div class="carousel-caption d-none d-md-block">-->
      <!--<h3><a style="color: white" [routerLink]="['/program_detail', carouselPrograms[0].id]">{{carouselPrograms[0].name}}</a></h3>-->
      <!--<p>{{carouselPrograms[0].description}}</p>-->
    <!--</div>-->
  <!--</ng-template>-->
  <!--<ng-template ngbSlide>-->
    <!--<img class="d-block w-100" src="assets/slider-2.jpg" style="height: 500px" alt="Second slide">-->
    <!--<div class="carousel-caption">-->
      <!--<h3><a style="color: white" [routerLink]="['/program_detail', carouselPrograms[1].id]">{{carouselPrograms[1].name}}</a></h3>-->
      <!--<p>{{carouselPrograms[1].description}}</p>-->
    <!--</div>-->
  <!--</ng-template>-->
  <!--<ng-template ngbSlide>-->
    <!--<img class="d-block w-100" src="assets/slider-3.jpg" style="height: 500px" alt="Third slide">-->
    <!--<div class="carousel-caption">-->
      <!--<h3><a style="color: white" [routerLink]="['/program_detail', carouselPrograms[2].id]">{{carouselPrograms[2].name}}</a></h3>-->
      <!--<p>{{carouselPrograms[2].description}}</p>-->
    <!--</div>-->
  <!--</ng-template>-->
<!--</ngb-carousel>-->

<div class="bgImgCenter">
  <div class="verticalLine">
    <h1 style="margin-left: 30px; color:white;
    font-size: 3.5rem; font-family: 'Open Sans', sans-serif;">Quality Education</h1>
    <h1 style="margin-left: 30px;
    font-size: 3rem; font-family: 'Open Sans', sans-serif;
    padding-top: 35px; color: white">A Community Commitment.</h1>
  </div>


</div>


<div class="container mt-5">
  <h3>Our Programs</h3>

  <div class="card-deck mt-3">
    <div *ngFor="let program of normalPrograms" class="card mt-2" style="width: 18rem;">
      <div class="card-body">
        <a style="color: #818182" [routerLink]="['/program_detail', program.id]">
          <h5 class="card-title">{{program.name}}</h5>
        </a>
        <p class="card-text">{{program.description | maxLength : 200}}</p>
      </div>
    </div>
  </div>

  <h3 class="mt-5">Take a look at the most popular courses</h3>

  <div class="card-deck mt-3">
    <div *ngFor="let course of courses" class="card mt-2" style="width: 18rem;">
      <div class="card-body">
        <a style="color: #818182" [routerLink]="['/course', course.id]">
          <h5 class="card-title">{{course.name}}</h5>
        </a>
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
          </span>
        </ng-template>
        <ngb-rating [(rate)]="course.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        <p *ngIf="course.price > 0" class="card-text">Price: {{course.price}}</p>
        <p *ngIf="course.price == 0" class="card-text">Free!</p>
        <p class="card-text">{{course.description | maxLength : 200}}</p>
      </div>
    </div>
  </div>
</div>

<endbar></endbar>
