<navbar></navbar>

<ngb-carousel>
  <ng-template ngbSlide>
    <img class="d-block w-100" src="assets/slider-1.jpg" style="height: 100vh" alt="First slide">
    <div class="carousel-caption d-none d-md-block">
      <h3><a style="color: #818182" [routerLink]="['/details', carouselCourses[0].id]">{{carouselCourses[0].name}}</a></h3>
      <p>{{carouselCourses[0].description}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block w-100" src="assets/slider-2.jpg" style="height: 100vh" alt="Second slide">
    <div class="carousel-caption">
      <h3><a style="color: #818182" [routerLink]="['/details', carouselCourses[1].id]">{{carouselCourses[1].name}}</a></h3>
      <p>{{carouselCourses[1].description}}</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="d-block w-100" src="assets/slider-3.jpg" style="height: 100vh" alt="Third slide">
    <div class="carousel-caption">
      <h3><a style="color: #818182" [routerLink]="['/details', carouselCourses[2].id]">{{carouselCourses[2].name}}</a></h3>
      <p>{{carouselCourses[2].description}}</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container mt-5">

  <h3>Take a look on our most popular courses</h3>

  <div class="card-deck mt-5">
    <div *ngFor="let course of courses" class="card mt-2" style="width: 18rem;">
      <div class="card-body">
        <a style="color: #818182" [routerLink]="['/details', course.id]">
          <h5 class="card-title">{{course.name}}</h5>
        </a>
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
          </span>
        </ng-template>
        <ngb-rating [(rate)]="course.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>

        <p class="card-text">{{course.description}}</p>
        <p class="card-text">Publisher: {{course.publisher.surname}}</p>
      </div>
    </div>
  </div>
</div>

<endbar></endbar>
