<navbar></navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" style="padding-right:20px; border-right: 2px solid #ccc;">
      <h3 class="display-5 mb-4">List of Units:</h3>
        <div  *ngFor="let unit of course.units; let i = index">
          <div class="d-inline-flex">
          <i *ngIf="i < progress" style="color: darkgreen;font-size:1.5em;" class="far fa-check-square mr-3"></i>
          <i *ngIf="i >= progress" style="font-size:1.5em;" class="far fa-square mr-3"></i>
          <p>{{unit.name}}</p>
          </div>
        </div>
    </div>
    <div class="col-md-8 pr-4">
      <h3 class="display-5 mb-4">{{unit.name}}</h3>

      <iframe [src]='getUrl()' width="470" height="315" frameborder="0" allowfullscreen></iframe>
      <p>{{unit.textContent}}</p>

      <div class="d-flex justify-content-between">
        <div *ngIf="progress > 0">
          <button type="button" (click)="previousUnit();" class="btn mt-2 btn-secondary">Previous</button>
        </div>
        <div *ngIf="progress + 1 < course.units.length">
          <button type="button" (click)="nextUnit();" class="btn mt-2 btn-secondary">Next</button>
        </div>

        <div *ngIf="progress + 1 == course.units.length">
          <button type="button" (click)="finished();" class="btn mt-2 btn-secondary">Finished!</button>
        </div>
      </div>
    </div>

  </div>

</div>
