<navbar></navbar>

<section class="container">

  <h3 class="display-3 text-center mb-4">Create a course</h3>

  <div *ngIf='displayError'>
    <div class="alert alert-danger alert-dismissible">
      <a class="close" data-dismiss="alert" aria-label="close" (click)="displayError=false">&times;</a>
      <strong>Something went wrong</strong> We couldn't submit your course, try again.
    </div>
  </div>

  <div class="row justify-content-center">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" [class.active]="postLocal">
            <input type="radio" name="options" id="option1" autocomplete="off" (change)="changePost()" [checked]="postLocal"> Local
        </label>
        <label class="btn btn-secondary" [class.active]="!postLocal">
          <input type="radio" name="options" id="option2" autocomplete="off" (change)="changePost()" [checked]="!postLocal"> External
        </label>
      </div>
  </div>

  <div *ngIf="postLocal; then localCourse else externalCourse"></div>

  <div class="row">
    <ng-template #localCourse>
      <div class="offset-4 col-md-4">
        <div [formGroup]="locCourseForm">
          <div class="form-group">
            <label class="center-block">Course name:</label>
            <input class="form-control" formControlName="name" [(ngModel)]="locCourse.name">
          </div>
          <div class="form-group">
            <label class="center-block">About:</label>
            <textarea #description class="form-control" formControlName="about" rows="3" placeholder="Give us a short description about the course" [(ngModel)]="locCourse.description"></textarea>
          </div>
          <div class="form-group">
            <label class="center-block">Price:</label>
            <input class="form-control" formControlName="price" placeholder="0.00" [(ngModel)]="locCourse.price">
          </div>
          <div class="text-center">
            <div style="margin-bottom: 1em">
              <button type="submit" [disabled]="locCourseForm.pristine" (click)="publishLocalCourse();" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #externalCourse>
        <div class="offset-4 col-md-4">
          <div [formGroup]="extCourseForm">
            <div class="form-group">
              <label class="center-block">Course name:</label>
              <input class="form-control" formControlName="name" [(ngModel)]="extCourse.name">
              <small class="form-text text-muted">Pro tip: use the same name as on the external platform.</small>
            </div>
            <div class="form-group">
              <label class="center-block">About:</label>
              <textarea #description class="form-control" formControlName="about" rows="3" placeholder="Give us a short description about the course" [(ngModel)]="extCourse.description"></textarea>
            </div>
            <div class="form-group">
              <label class="center-block">Price:</label>
              <input class="form-control" formControlName="price" placeholder="0.00" [(ngModel)]="extCourse.price">
            </div>
            <div class="form-group">
              <label class="center-block">URL:</label>
              <input class="form-control" type="url" formControlName="url" [(ngModel)]="extCourse.link" placeholder="http://example.com">
            </div>
            <div class="form-group">
              <label class="center-block">Source:</label>
              <input class="form-control" formControlName="source" [(ngModel)]="extCourse.source" placeholder="i.e Coursera, Udemy, Youtube">
            </div>
            <div class="text-center">
              <div style="margin-bottom: 1em">
                <button type="submit" [disabled]="extCourseForm.pristine" (click)="publishExternalCourse();" class="btn btn-primary">Create</button>
              </div>
            </div>
          </div>
      </div>
    </ng-template>
  </div>

</section>
