
<section class="container">

  <h3 class="display-3 text-center mb-4">Welcome to Cursago!</h3>

  <div class="row">

    <div class="col-md-6" style="padding-right:20px; border-right: 1px solid #ccc;">
      <form>
        <h1>Log In</h1>
        <div class="form-group">
          <label for="email">Email</label>
          <input #email type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input #password type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="button" (click)="login(email.value, password.value);" class="btn btn-primary">Log In</button>
      </form>
    </div>

    <div class="col-md-6">
      <form>
        <h1>Register new account</h1>
        <div class="form-group">
          <label for="inputName">First Name</label>
          <input #name type="text" class="form-control" id="inputName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="inputSurname">Last Name</label>
          <input #surname type="text" class="form-control" id="inputSurname" placeholder="Surname">
        </div>
        <div class="form-group">
          <label for="inputEmail2">Email</label>
          <input #email2 type="email" class="form-control" id="inputEmail2" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="inputPassword2">Password</label>
          <input #password2 type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <button type="button" (click)="signup(name.value, surname.value,email2.value,password2.value);" class="btn btn-primary">Create Account</button>
      </form>
    </div>

  </div>

</section>
